small.sub {
    opacity: 0.6;
}

.twilight-sparkle {
    color: #CC90DD;    
}

.idea-icon {
    color: gold;
    margin-bottom: 20px;
}

.reveal h1, 
.reveal h2, 
.reveal h3 {
    text-transform: none;
}

.reveal h1 {
    color: #666;
}

.reveal section img {
    border: 0;
    box-shadow: none;
    max-height: 60vh;
}

.reveal section .pro {
    color: #689f38;
}

.reveal section .con {
    color: #c62828;
}

.reveal td {
    vertical-align: top;
}
