.reveal strong {
    position: relative;
}

.reveal strong:after {
    content: '';
    
    position: absolute;
    width: 100%;
    bottom: 5px;
    left: 0;
    border-bottom: 3px solid;
    
    opacity: 0.5;
}

small.sub {
    opacity: 0.6;
}

.twilight-sparkle {
    color: #CC90DD;    
}

.idea-icon {
    color: gold;
    margin-bottom: 20px;
}

.reveal h1, 
.reveal h2, 
.reveal h3 {
    text-transform: none;
}

.reveal h1 {
    color: #666;
}

.reveal section img {
    border: 0;
    box-shadow: none;
    max-height: 60vh;
}

.reveal section .pro {
    color: #689f38;
}

.reveal section .con {
    color: #c62828;
}

.reveal td {
    vertical-align: top;
}

.side-by-side {
    display: flex;
}

.reveal section .height-half {
    height: 30vh;
}

.reveal pre.code-small {
    font-size: .4em;
 }

.reveal iframe {
    width: 100%;
    height: 56vh;
}

.reveal .cs3217-video-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.reveal .cs3217-video-container div {
    overflow: hidden;
    width: 12vw;
    margin-right: 20px;
}

.reveal .cs3217-video-container .cs3217-video-double {
    width: 28vw;
}

.reveal .cs3217-video-container video {
    width: 28vw;
    max-width: initial;
    margin-left: -8vw;
}

.reveal .cs3217-video-double video {
    margin-left: 0;
}

.fixed-link {
  position: fixed;
  font-size: 1rem;
  left: 5px;
  top: 5px;
  color: #6ca0e8;
  text-decoration: none;
}
